.App {
    margin: 2% 4%;
}

.App h2 {
    margin: 0;
    padding: 0;
}


.title {
    align-items: center;
    font-size: 2em;
    color: #000;
}

.sub-title {
    margin: 10px 30px;
    font-size: 1.5em;
}

.members {
    margin: 10px 30px;
    display: flex;
    flex-direction: row;
}

.member {
    margin: 10px 30px;
}

.supervisor {
    margin: 10px 30px;
    font-size: 1.2em;
}